---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';


---

<script>
	const getData = await fetch("https://animechan.vercel.app/api/random")
	const data = await getData.json()
</script>

<Layout title="Anime Quote Generator">
	<main class="flex flex-col h-screen items-center p-5 justify-center max-sm:h-4/5">
		<h1 class="text-4xl font-bold">Anime quote</h1>
		<Card anime={data.anime} character={"- " + data.character + " -"} quote={data.quote}>
		</Card>
		<div class="mt-[-20px] z-40">
			<button class="rounded-full bg-primary p-3">
				<img src="/icon-dice.svg" alt="" onclick="data" />
			</button>
		</div>
	</main>
</Layout>

